/* Este é o padrão para manter input e botão na mesma linha */
.form-group {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 500px; /* Ajuste conforme necessário */
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

/* Removemos a margem que empurra o botão para baixo */
.form-group input {
  margin-bottom: 0 !important;
  flex: 1; /* Faz o input ocupar o espaço restante */
}

.form-group button[type="submit"] {
  margin-top: 0 !important;
  white-space: nowrap; /* Impede o texto de quebrar */
}



@media (prefers-color-scheme: light) {
  li {
    background: #f9f9f9;
    border: 1px solid #eee;
  }
}